@import '../../scss/const';
@import '../../scss/colors';

.RDFRenderContainer {
  max-width: 720px!important;
}

.RDFRender {
  padding-top: 20px;

  .RDFRenderHeader {
    overflow: hidden;

    .Logo {
      height: 30px;
      width: auto;

      path {
        fill: $blue-400 !important;
      }
    }

    .TurtleButton {
      float: right;
      color: $n100;
      text-decoration: none;

      &:hover {
        color: $neutral-500;
      }
    }
  }

  .RDFRenderBody {
    margin: 10px 0;
    padding: 20px;
    background: $white;
    border: 1px solid $blue-400;
    border-radius: 5px;

    h1 {
      font-weight: 600;
      line-height: 1.33;
      font-size: 21px;
      color: $n800;
    }
  }

  .RDFRenderFooter {
    $logoHeight: 30px;

    text-align: center;
    overflow: hidden;

    & > * {
      display: inline;
    }
  }
}
