@import '../../scss/colors';

.Toastify__toast-container.Toastify__toast-container--top-right {
    z-index: 9999;
    position: fixed;
    top: 16px;
    right: 16px;
}

.Toastify__close-button {
    display: none;
}

.Toastify__toast {
    margin-bottom: 16px;
}
