.DataTableContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;

    .TableCol {
        flex: 1;
        height: 100%;
    }

    .FilterCol {
        width: 250px;
        flex: 0 0 250px;
        margin-left: 30px;
        height: 100%;
    }
}
