@import '../../scss/colors';

.Toggle {
  border-radius: 3px;
  border: solid 1px $neutral-40;
  margin-bottom: 10px;
  color: $neutral-90;

  &.Active {
    .ToggleHeader {
      border-bottom: solid 1px $neutral-40;
    }
  }

  .ToggleHeader {
    padding: 16px;
    color: $neutral-800;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
  }

  .ToggleContent {
    display: none;
    padding: 16px;

    &.Active {
      display: block;
    }
  }

  .ToggleBadge {
    margin-left: 10px;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 2px;
    border: 1px solid currentColor;
  }
}