@import '../../scss/colors';

.TopLevelContainer {
    .Header {
        background: $azul;
        color: white;

        .MainHeader {
            padding: 40px 0;
        }

        .Logo {
            width: 90px;
            height: 24px;

            path {
                fill: $generic-white;
            }
        }

        .InformationHeader {
            padding-bottom: 40px;

            .InformationHeaderTop {
                overflow: auto;

                .Logo {
                    float: right;
                    width: 167px;
                    height: 71px;
                    padding: 5px;
                    background: white;
                    border-radius: 3px;
                    margin: 0 0 30px 15px;

                    img {
                        width: 100%;
                    }
                }

                .Title {
                    font-size: 21px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    color: $generic-white;
                    margin-bottom: 18px;
                }


                .Publishers {
                    margin-top: 20px;

                    .Contact {
                        padding: 6px 8px;
                        background: $cobalt;
                        border-radius: 3px;
                        color: white;
                        margin-right: 5px;
                        display: block;
                        float: left;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .Icon {
                            path {
                                fill: $generic-white;
                            }

                            margin-right: 5px;
                        }

                        &:hover {
                            text-decoration: none;
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }

    .Information {
        min-height: calc(100vh - 350px);
        padding-bottom: 40px;

        .LinkTop.LinkFileType {
            float: right;
        }

        .LinkTop {
            border-radius: 15px;
            padding: 7px 10px;
            color: $neutral-300;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
                text-decoration: none;
            }
        }

        .LinkBack {
            float: left;

            .Icon {
                margin-right: 7px;

                path {
                    fill: $neutral-300;
                }
            }
        }

        .InformationRow {
            margin: 0;

            .Children {
                padding-top: 40px;
                padding-bottom: 25px;

                .InformationCol {
                    .InformationDescription {
                        font-size: 16px;
                        line-height: 1.5;
                        color: $neutral-300;

                        &.HasChildren {
                            margin-bottom: 35px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid $neutral-30;
                        }
                    }

                    h2 {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        color: $neutral-800;
                    }

                    .Description {
                        margin-bottom: 15px;
                        color: $neutral-90;
                    }
                }

                .Loading {
                    opacity: 0.5;
                }

                .NoResults {
                    text-align: center;
                    padding: 50px 0;
                    color: $neutral-80;
                    font-size: 16px;
                }
            }
        }
    }

    .Footer {
        .container {
            border-top: 1px solid $neutral-30;
            padding-top: 40px;
        }
    }

    @media (max-width: 960px) {
        .Header .MainHeader {
            background: $cobalt;
            padding: 15px 0;
            margin-bottom: 40px;

            .Logo {
                margin: auto;
                display: block;
            }
        }
    }

    .InformationBadge {
        border-radius: 5px;
        margin: 0 0 0 10px;
        border: 2px solid #ffffff;
        color: white;
        padding: 5px 10px;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
    }

    .InformationLogo {
        text-align: center;
        margin-bottom: 10px;

        img {
            max-width: 100%;
        }
    }

    .InformationBack {
        margin-bottom: 10px;
        display: inline-block;
        color: $generic-white;
        font-size: 13px;

        .Icon {
            width: 10px;
            height: 10px;
            margin: 0 3px 3px 0;

            path {
                fill: $generic-white;
            }
        }

        &:hover {
            color: $neutral-30;
            text-decoration: none;

            .Icon path {
                fill: $neutral-30;
            }
        }
    }
}

.DatasetsHeader {
    margin-bottom: 16px;

    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 21px;
        font-weight: 600;
        line-height: 1.33;
        color: $neutral-800;
    }

    .DatasetHeaderButtons {
        text-align: right;
    }
}

.Datasets {
    position: relative;
}

.FilterButton {
    &.Hidden {
        display: none;
    }

    button {
        margin-left: 8px;

        .Icon path {
            fill: $azul;
        }

        &:hover, &:active, &.active {
            .Icon path {
                fill: $generic-white;
            }
        }

        &::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
    }
}

@media (max-width: 767px) {
    .DatasetsHeaderTitle {
        display: none;
    }
    .DatasetHeaderButtons {
        width: 100%!important;
    }
    .FilterButton.Hidden {
        display: inline-block;
    }
}