@import '../../../scss/colors.scss';

.status-badge {
  display: inline-block;
  border-radius: 50%;

  &.statusBadgeComplete {
    background-color: $green700;
  }

  &.statusBadgeNotStarted {
    background: #fff;
    position: relative;
    box-shadow: 0 0 0 1px $n70;
    margin: 1px;
  }
}
