@import '../../scss/colors';

.Tags {
  overflow: hidden;
  display: block;

  .Tag {
    font-size: 14px;
    font-weight: 600;
    color: $neutral-800;
    border-radius: 5px;
    border: 1px solid $neutral-60;
    padding: 6px 12px;
    display: block;
    float: left;
    margin-right: 12px;
    margin-bottom: 6px;
  }
}