@import '../../scss/colors';

.SideTabs {
  display: flex;
  height: 100%;
  overflow: auto;

  &.HasButtons {
    .SideTabsNav {
      margin-top: 50px;
    }
  }

  &.HasTabs {
    .SideTabsNav {
      margin-top: 4.8rem;
    }
  }

  .SideTabsNav {
    width: 210px;
    overflow: auto;
    flex: 0 0 210px;
    margin-right: 30px;

    .SideTabsNavItem {
      display: flex;
      padding: 1rem;
      color: $neutral-500;
      border-radius: 3px;
      margin-bottom: 4px;
      text-decoration: none;
      border: 1px solid transparent;
      width: 100%;
      text-align: left;
      background: none;

      &.Active {
        color: $azul;
        border-color: $azul;
      }

      &:hover {
        background: $neutral-30;
      }

      .SideTabsNavItemNumber {
        margin-right: 5px;
        font-size: 11px;
        padding: 3px 5px;
        border-radius: 2px;
        background: $azul;
        color: $generic-white;
      }

      .SideTabsNavItemBadge {
        margin-left: 10px;
        font-size: 11px;
        padding: 3px 5px;
        border-radius: 2px;
        border: 1px solid currentColor;
      }

      .SideTabsNavItemIcons {
        margin-left: 10px;
      }
    }
  }

  .SideTabsContent {
    flex: 1;
    overflow: auto;
  }
}