@import '../../scss/const';
@import '../../scss/colors';

.FullHeightForm {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.NotLoaded {
  opacity: 0.5;
}

.FormButtons {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid $neutral-30;
  height: 60px;
  flex: 0 1 70px;

  & > div:nth-child(2)
  {
    text-align: right;
  }
}

.FormContent {
  height: 100%;
  flex: 1;
  overflow: auto;
}

.FormLoader {
    margin: auto;
}

.FormItem {
  margin: 20px 0;

  &.Hidden, .Hidden {
    display: none;
  }

  &.Inline {
    .FormItemLabel {
      margin-right: 10px;
    }

    label {
      margin-bottom: 0;
    }

    &.AlignLeft, &.AlignCenter, &.AlignRight {
      display: flex;
      align-items: center;
    }

    &.AlignLeft {
      justify-content: flex-start;
    }

    &.AlignCenter {
      justify-content: center;
    }

    &.AlignRight {
      justify-content: flex-end;
    }

    .FormItemContent {
      overflow: auto;
    }
  }

  .Select {
    width: 100%;

    & > div, & > div > div {
      max-width: 100%;
      z-index: 101;

      *::after {
        box-sizing: initial;
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.FormHeading {
  h2 {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $neutral-800;
  }
}