@import '../../scss/const';
@import '../../scss/colors';

.FullHeightForm {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.NotLoaded {
  opacity: 0.5;
}

.MetadataFormButtons {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid $neutral-30;
  height: 60px;
  flex: 0 1 70px;

  & > div:nth-child(2)
  {
    text-align: right;
  }
}

.MetadataFormTabs {
  height: 100%;
  flex: 1;
  overflow: auto;

  & > div {
    /* Matter Tabs */
    height: 100%;
    display: flex;
    flex-direction: column;

    & > div[role=tabpanel] {
      flex: 1;
      overflow: auto;
    }
  }
}

.FormLoader {
    margin: auto;
}

.FormItem {
  .FormLabel {
    font-weight: bold;
    //padding: 0 5px;
  }

  margin: 10px 0;

  &.Hidden, .Hidden {
    display: none;
  }

  &.Inline {
    .form-row {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    label {
      margin-bottom: 0;
    }

    &.AlignLeft, &.AlignCenter, &.AlignRight {
      display: flex;
      align-items: center;
    }

    &.AlignLeft {
      justify-content: flex-start;
    }

    &.AlignCenter {
      justify-content: center;
    }

    &.AlignRight {
      justify-content: flex-end;
    }
  }

  .Select {
    width: 100%;

    & > div, & > div > div {
      max-width: 100%;
    }
  }

  .form-row {
    margin: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.FormHeading {
  h2 {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $neutral-800;
  }
}