@import '../../scss/const';
@import '../../scss/colors';

.FullScreenSteppedFormContainer {
  padding-top: 50px;
  max-width: 940px;
}

.FullScreenSteppedFormBrand {
  margin-bottom: 40px;

  > * {
    display: inline-block;
  }

  .FullScreenSteppedFormBrandLogo .Logo {
    height: 32px;
    width: auto;

    path {
      fill: $azul;
    }
  }

  .FullScreenSteppedFormBrandText {
    font-size: 16px;
    font-weight: 600;
    color: $neutral-800;
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid $neutral-80;
    line-height: 32px;
  }
}

.FullScreenSteppedFormBreadcrumbs {
  float: right;
  overflow: auto;

  & > * {
    float: left;
  }
  .FullScreenSteppedFormBreadcrumb {
    width: 32px;
    height: 32px;
    border: solid 1px $neutral-70;
    background-color: $generic-white;
    text-align: center;
    line-height: 32px;
    color: $neutral-800;
    border-radius: 100%;

    &.Active {
      border-color: $azul;
      color: $azul;
      font-weight: 900;
    }
  }
  .FullScreenSteppedFormBreadcrumbSeparator {
    width: 64px;
    height: 1px;
    background-color: $neutral-80;
    margin-top: 15px;
  }
}

.FullScreenSteppedForm {
  .FullScreenSteppedFormHeader {
    margin: 50px 0;
    border-bottom: 1px solid $neutral-30;
    padding-bottom: 50px;

    .FullScreenSteppedFormStepNumber {
      color: $neutral-300;
      font-size: 16px;
      font-weight: 600;
    }

    .FullScreenSteppedFormStepName {
      font-size: 32px;
    }

    .FullScreenSteppedFormStepDescription {
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: $neutral-800;
    }
  }

  .FullScreenSteppedFormWrapper {
    .FullScreenSteppedFormButtons {
      padding: 50px 0;
      margin-top: 50px;
      border-top: 1px solid $neutral-30;

      & > div:nth-child(2)
      {
        text-align: right;
      }
    }
  }

  .RepeatedBlock {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $neutral-30;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    .RemoveButton {
      position: absolute;
      top: 0;
      right: 0;

      font-weight: 600;
      color: $neutral-300;

      .Icon {
        height: 12px;
        width: 12px;
        margin-left: 3px;
        margin-top: -3px;

        path {
          fill: $neutral-300;
        }
      }

      &:hover {
        text-decoration: none;
        color: $neutral-800;

        .Icon path {
          fill: $neutral-800;
        }
      }
    }
  }
}