@import '../../scss/colors';
@import '../../scss/const';

.OptionGroupTableHeader {
    .Annotation {
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}

.Annotation {
    border-bottom: solid 1px $neutral-40;
    padding: 10px 0;
    display: flex;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        margin-bottom: 6px;
    }

    .OntologyName {
        width: 30%;
        flex: 0 0 30%;
    }

    .ConceptDisplayName {
        width: 40%;
        flex: 0 0 40%;
    }

    .ConceptCode {
        flex: 1;
    }
}
