@import '../../scss/colors';

.CheckboxesGroup {
  label {
    margin-bottom: 8px;
  }

  .CheckboxFormGroup.form-group {
    margin-bottom: 0;
  }
}

.CheckboxFormGroup {
  label span::after {
    box-sizing: initial !important;
  }

  &.HeadingCheckboxFormGroup {
    margin: 2.4rem 0 1.6rem;
  }
}