@import '../../scss/const';
@import '../../scss/colors';

.Input {
  width: 100%;

  .form-control {
    background-color: $neutral-10;
    border: 1px solid $neutral-50;
    padding: 7px 10px;
    font-size: 14px;

    &::-moz-placeholder {
      color: $neutral-100;
    }
    &:-ms-input-placeholder {
      color: $neutral-100;
    }
    &::-webkit-input-placeholder {
      color: $neutral-100;
    }
  }
}

.InputError {
  font-size: 16px;
  color: $red-400;
}

.RadioGroup div {
  float: left;
  margin-right: 20px;
}

.RadioGroup.Horizontal .RadioOption {
  display: inline-block;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.DropdownMultiOption {
  label {
    span:first-of-type {
      margin-top: 0.3rem;

      &::after {
        box-sizing: initial!important;
      }
    }
  }

  &::after {
    display: none;
  }
}