@import '../../scss/colors.scss';

.App {
  position: relative;
  min-height: 100vh;
&.Loading {
     opacity: 0;
 }
&.Loaded {
     opacity: 1;
 }
}

.UnderDevelopment {
  background: $orange-400;
  border-radius: 0;
  margin: 0;
  border: 0;
  color: $generic-white;
}

.ButtonBar {
  margin-bottom: 10px;

  &.Right {
    text-align: right;
  }
}