@import '../../scss/colors.scss';

.Loader {
  padding: 50px 0;

  .LoadingSpinner {
    margin: auto;
  }

  &.Overlay {
    position: absolute;
    z-index: 999;
    left: 50%;
    margin-left: -32px;
  }
}