$blue-30: #f4faff;
$blue-40: #f0f8ff;
$blue-50: #e7f3ff;
$blue-100: #5fafff;
$blue-400: #3779ed;
$blue-700: #3070ce;
$skyblue-100: #caf8ff;
$skyblue-400: #47d6ff;
$skyblue-700: #2ccdff;
$red-100: #ff8080;
$red-400: #dc143c;
$red-700: #bb022e;
$green-100: #a5ffc6;
$green-400: #2cd06c;
$green-700: #28bc5f;
$orange-100: #ffc98f;
$orange-400: #ffa333;
$orange-700: #e8851b;
$yellow-100: #fff7b8;
$misc-guide: #f31f7c;
$generic-white: #ffffff;
$generic-black: #000000;
$generic-black-opacity85: rgba(0, 0, 0, 0.85);
$neutral-10: #fafbfb;
$neutral-30: #eceef0;
$neutral-50: #c3c7cf;
$neutral-60: #b5bac4;
$neutral-70: #a8afba;
$neutral-80: #9aa2af;
$neutral-90: #8c95a4;
$neutral-100: #7d8798;
$neutral-200: #6f7a8d;
$neutral-300: #616d82;
$neutral-400: #556178;
$neutral-500: #47546d;
$neutral-600: #3a4963;
$neutral-700: #293956;
$neutral-800: #1b2c4b;
$neutral-900: #0f2141;
$brand-sms: #b00b49;
$brand-myconsent: #10af75;
$pale-grey: #f6f7f8;
$purple-400: #93278f;
$generic-white-15: rgba(255, 255, 255, 0.15);
$neutral-40: #e0e2e6;
$blue-200: #558df0;
$mid-blue: #2564bf;
$cobalt: #214893;
$azul: #2d72da;
$neutral-20: #f6f6f8;
$off-yellow: #ffe831;
$violet: #9013fe;
$medium-blue: #2a5ec0;
$shadow: rgba(154, 162, 175, 0.5);
$modal-shadow: rgba(85, 85, 85, 0.35);
$slug: #2bbbad;
$external: #aa66cc;
$primary-main: #2868c4;
