$blue40: #f0f8ff;
$blue400: #3779ed;
$blue700: #3070ce;

$color-castor: #3779ed;

$miscGuide: #f31f7c;

$red400: #dc143c;
$red700: #bb022e;

$orange400: #ffa333;

$green400: #2cd06c;
$green700: #28bc5f;

$purple400: #93278f;

$n10: #fafbfb;
$n20: #f6f7f8;
$n30: #eceef0;
$n40: #e0e2e6;
$n50: #c3c7cf;
$n70: #a8afba;
$n90: #8c95a4;

$n100: #7d8798;
$n200: #6f7a8d;
$n300: #616d82;
$n400: #556178;
$n500: #47546d;
$n600: #3a4963;
$n700: #293956;
$n800: #1b2c4b;
$n900: #0f2141;

$white: #fff;
$bg: #f4f4f4;

$text: #1B2C4B;