$radius: 3px;

$logoHeight: 24px;
$logoWidth: 90px;

$desktopHeaderPadding: 30px;
$desktopHeaderHeight: $logoHeight;

$desktopHeaderPaddingSmall: 15px;
$desktopHeaderHeightSmall: $logoHeight;

$mobileHeaderPadding: 15px;
$mobileHeaderHeight: $logoHeight + 8px;

// Dashboard
$navbarHeight: 48px;
$pagePadding: 24px;
