$RootNavSize: 48px;
$RootNavSizeExpanded: 128px;
$SideNavSize: 208px;
$NavHeaderDesktopHeight: 57px;
$NavHeaderMobileHeight: 48px;
$MarginsDesktop: 32px;
$MarginsMobile: 24px;
$RightPanelWidth: 208px;
$PaginationHeightDesktop: 48px;
$PaginationHeightMobile: 56px;
$radius: 3px;