$radius: 3px;

$logoHeight: 24px;
$logoWidth: 90px;

$desktopHeaderPadding: 30px;
$desktopHeaderHeight: $logoHeight;
$desktopHeaderSpacingHeight: (2 * $desktopHeaderPadding) + $logoHeight;

$desktopHeaderPaddingSmall: 15px;
$desktopHeaderHeightSmall: $logoHeight;
$desktopHeaderSpacingHeightSmall: (2 * $desktopHeaderPaddingSmall) + $logoHeight;

$mobileHeaderPadding: 15px;
$mobileHeaderHeight: $logoHeight;
