@import 'colors';

html {
  ::-moz-focus-inner {
    border: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: $neutral-20;
  background: $generic-white;
}

ul {
  list-style-type: none;
}

.IconRight {
  float: right;
  display: block;
  margin-top: 4px;
}

.Icon.Rotated {
  transform: rotate(180deg);
}

.ToggleArrow {
  float: right;

  svg path {
    fill: $neutral-500;
  }

  &.Active {
    svg {
      transform: rotate(180deg);
    }
  }
}

.IconHover {
  display: none;
}

.HasHoverableIcon {
  &:hover .IconHover {
    display: block;
  }
}

.TopLevelContainer.Embedded .container {
    max-width: none;
  //max-width: 600px;
}

.AddButton.btn {
  padding: 5px 20px 5px 15px;
}

.BackButton.btn {
  padding: 5px 0;
  color: $neutral-400;
  text-decoration: none;

  .Icon {
    margin-right: 3px;

    path {
      fill: $neutral-400;
    }
  }

  &:hover, &:active {
    color: $neutral-700;
    text-decoration: none;

    .Icon path {
      fill: $neutral-700;
    }
  }
}

.btn-primary .Icon {
  margin-right: 5px;

  path {
    fill: $generic-white;
  }
}

.btn .spinner-border {
  margin-right: 5px;
}

.NoResults {
  text-align: center;
  padding: 50px 0;
  color: $neutral-80;
  font-size: 16px;
}


.TabTabs {
  &.row {
    margin-bottom: 20px;
  }

  & > div {
    border-bottom: 1px solid $neutral-40;
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      border: none;
      border-radius: 0;
      background: none;
      padding: 5px 3px;
      margin-right: 20px;
      border-bottom: 2px solid transparent;
      color: $neutral-300;

      &.active {
        border-bottom-color: $mid-blue;
        color: $neutral-800;
      }

      &.disabled {
        color: $neutral-60;
      }
    }
  }
}


/* Design system overrides */

.SelectableDataTable {
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;

  table {
    td {
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      cursor: pointer;
    }
  }

  &.Loading {
    opacity: 0.5;
  }
}

.FullHeightDataTable {
  display: flex;
  flex-flow: column;
  height: 100%;

  .DataTableWrapper {
    flex: 1;
    overflow: auto;

    & > div > div {
      height: 100%;
    }
  }
}

fieldset {
  margin-bottom: 0!important;
}