@import 'colors';

html {
  ::-moz-focus-inner {
    border: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: $neutral-20;
  background: $generic-white;
}

ul {
  list-style-type: none;
}

.IconRight {
  float: right;
  display: block;
  margin-top: 4px;
}

.Icon.Rotated {
  transform: rotate(180deg);
}

.IconOpen {
  //fill: $n100;
}

.IconHover {
  display: none;
}

.HasHoverableIcon {
  &:hover .IconHover {
    display: block;
  }
}

.TopLevelContainer.Embedded .container {
    max-width: none;
  //max-width: 600px;
}