@import 'colors';

html {
  ::-moz-focus-inner {
    border: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg;
}

ul {
  list-style-type: none;
}

.IconRight {
  float: right;
  display: block;
  margin-top: 4px;
}

.IconOpen {
  fill: $n100;
}

.IconHover {
  display: none;
}

.HasHoverableIcon {
  &:hover .IconHover {
    display: block;
  }
}


.Information {
  margin-top: 20px;

  .InformationHeader {
    height: 45px;
  }

  .LinkTop.LinkFileType {
    float: right;
  }

  .LinkTop {
    border-radius: 15px;
    padding: 7px 10px;
    color: $n300;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
      text-decoration: none;
    }
  }

  .LinkBack {
    float: left;

    .Icon {
      margin-right: 7px;
      path {
        fill: $n300;
      }
    }
  }

  .InformationRow {
    overflow: hidden;
    margin: 0;
    background: $white;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;

    > * {
      padding: 0;
    }

    .Metadata {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

      > * {
        padding: 25px;
      }

      .MetadataTop {
        background: $blue400;
        color: $white;

        .Title {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .MetadataBottom {
        background: $n20;
      }
    }

    .Children {
      padding: 25px;

      h2 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $n500;
      }
    }
  }
}