@import '../../scss/colors';

.BackButton {
    &.Sidebar {
        border-bottom: solid 1px $neutral-40;

        button {
            width: 100%;
        }

        .circle {
            margin: 0 10px;
        }
    }

    button {
        padding: 1.4rem 0 1.6rem;
        border: none;
        background: none;
        text-align: left;
        font-weight: 700;
        color: $neutral-300;

        &:hover {
            color: $azul;
        }

        .circle {
            display: inline-block;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            padding: 5px 0 0 5px;
            position: relative;
            top: 6px;
            margin: 0 10px 0 0;
            background: $neutral-30;
            fill: $neutral-90;

            svg {
                display: block;
                height: 10px;
                width: 10px;
            }
        }
    }
}
