@import '../../../scss/colors';

.Separator {
    border: 1px solid $neutral-30;
    width: 100%;
    border-bottom: 0;
    margin: 30px 0;
}

.DistributionAccess {
    //&.Restricted {
    //  position: relative;
    //
    //  .Overlay {
    //    height: 100%;
    //    width: 100%;
    //    position: absolute;
    //    z-index: 1;
    //    display: flex;
    //  }
    //
    //  .AlertMessage {
    //    width: 70%;
    //    margin: auto;
    //  }
    //
    //  .DistributionAccessButtons {
    //    opacity: 0.2;
    //    pointer-events: none;
    //    cursor: pointer;
    //    -webkit-user-select: none;
    //    -moz-user-select: none;
    //    -ms-user-select: none;
    //  }
    //}
}
