$blue-0: #3070CE;
$blue-1: #3779ED;
$blue-2: #4A8FF7;
$blue-3: #5FAFFF;
$green-0: #28BC5F;
$green-1: #2CD06C;
$green-2: #60F28D;
$green-3: #A5FFC6;
$skyblue-0: #2CCDFF;
$skyblue-1: #47D6FF;
$skyblue-2: #61DEFF;
$skyblue-3: #CAF8FF;
$orange-0: #E8851B;
$orange-1: #FFA333;
$orange-2: #FFAF5B;
$orange-3: #FFC98F;
$black: #000000;
$white: #FFFFFF;
$red-0: #BB022E;
$red-1: #DC143C;
$red-2: #EE4A4A;
$red-3: #FF8080;
$yellow-1: #FFE831;
$yellow-6: #FFFAD4;
$grey-1050: #2A2F2F;
$grey-1000: #313636;
$grey-950: #393C3D;
$grey-900: #4B4F50;
$grey-850: #525657;
$grey-800: #636869;
$grey-750: #6F7576;
$grey-700: #737A7B;
$grey-650: #7E8383;
$grey-600: #868D8F;
$grey-550: #8A9395;
$grey-500: #A9B0B1;
$grey-450: #BFC4C4;
$grey-400: #BFC4C4;
$grey-350: #D3D7D8;
$grey-300: #E3E3E3;
$grey-250: #EBEBEB;
$grey-225: #EEEEEE;
$grey-200: #F0F1F1;
$grey-150: #F4F5F5;
$grey-100: #F7F7F7;
$grey-50: #FCFCFC;

$primary-font: 'Lato';

$pf-light: 300;
$pf-reg: 400;
$pf-bold: 700;

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-ml: 13px;
$font-size-l: 14px;
$font-size-xl: 16px;

$icon-xs: 9px;
$icon-s: 12px;
$icon-m: 16px;
$icon-l: 20px;
$icon-xl: 24px;

$rad-s: 1px;
$rad-m: 3px;
$rad-ml: 4px;
$rad-l: 6px;
$rad-circle: 50%;

$highlight-opacity: 0.15;