html,body {
  height: 100%;
  font-family: $primary-font;
  font-size: $font-size-l;
  background-color: $grey-100;
}

.icon {
  opacity: 0;
}

.icon.loaded {
  opacity: 1;
}

.icon.icon-xs img, .icon.icon-xs svg {
  width: $icon-xs;
  height: $icon-xs;
}

.icon.icon-s img, .icon.icon-s svg {
  width: $icon-s;
  height: $icon-s;
}

.icon.icon-m img, .icon.icon-m svg {
  width: $icon-m;
  height: $icon-m;
}

.icon.icon-l img, .icon.icon-l svg {
  width: $icon-l;
  height: $icon-l;
}

.icon.icon-xl img {
  width: $icon-xl;
  height: $icon-xl;
}

.loading::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(/assets/img/icons/loading-basicnormal.svg);
  position: absolute;
  top: 4px;
  right: 15px;
  animation: spin 0.7s linear infinite;
  opacity: 0.8;
}

.humanreadable-row {
  padding: 4px 0;
}

.humanreadable-header {
  background-color: $blue-1;
  color: white;
  font-family: 'Rubik', serif;
}

.humanreadable-header h3 {
  margin: 0;
}

.rdf-container {
  padding-top: 15px;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.humanreadable-header .btn-group {
  position: absolute;
  top: 9px;
  right: 15px;
  border: 1px solid white;
  border-radius: 0.25rem;
}