@import '../../../scss/const';
@import '../../../scss/colors';

.DashboardTab {
  height: 100%;
  display: flex;
  flex-direction: column;

  .DashboardList {
    flex: 1;
    overflow: auto;
  }
}

.DashboardHeader {
  .HeaderTitle {
    //border-bottom: 1px solid $neutral-40;
    margin-bottom: 10px;

    h2 {
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $neutral-800;
      margin-bottom: 0;
    }
  }
}