@import '../../../scss/const';

$headerHeight: 41px;

.PageBody {
    flex: 1;
    overflow: auto;
    padding-top: $pagePadding;
    display: flex;
    flex-flow: column;

    & > form {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}
