@import '../../scss/colors';

.Breadcrumbs {
  background: $neutral-20;
  padding: 10px 0;
  border-bottom: 1px solid $neutral-30;

  .container {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.Breadcrumb {
  display: inline-block;
  margin-left: 10px;

  a {
    color: $neutral-700;
    text-decoration: none;

    &:hover {
      color: $neutral-900;
      text-decoration: none;
    }

    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  &:before {
    display: inline-block;
    padding-right: 10px;
    color: $neutral-300;
    content: "/";
    overflow: hidden;
  }

  &:first-child {
   margin-left: 0;

    &:before {
      content: none;
    }
  }

  &:last-child {
    opacity: 0.5;

    a {
      pointer-events: none;
      cursor: default;
    }
  }
}