@import '../../scss/colors';

.MetadataItem {
  .MetadataItemLabel {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $neutral-600;
    margin-bottom: 4px;
  }
  .MetadataItemValue {
    font-size: 16px;
    line-height: 1.5;
    color: $neutral-300;

    .Icon {
      margin-right: 5px;
    }

    .Map {
      width: 100%;
      padding-top: 100%;
      position: relative;
      margin-top: 30px;
      border-radius: 5px;
      overflow: hidden;

      .leaflet-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
  margin-bottom: 16px;
}

.Footer .MetadataItem {
  .MetadataItemLabel {
    font-size: 12px;
    color: $neutral-70;
  }

  .MetadataItemValue, .MetadataItemValue a {
    font-size: 14px;
    color: $neutral-50;
  }

}

.InformationRow {
  .Contacts {
    margin-bottom: 24px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
  }
}