@import '../../scss/colors';

.FieldListItem {
    padding: 16px 10px;
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

    cursor: pointer;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &.Disabled {
        opacity: 0.4;
        cursor: not-allowed;

        &:hover {
            background: none;
        }
    }

    &.Selected {
        background: $pale-grey;

        .FieldNumber {
            border-color: $cobalt;
            background: $azul;
            color: $generic-white;
        }
    }
}
