@import '../../scss/colors';

.ListItem {
  color: $neutral-90;
  border-radius: 3px;
  display: block;
  padding: 16px;
  margin-bottom: 10px;
  border: solid 1px $neutral-40;
  background: $generic-white;
  position: relative;

  span {
    display: block;
  }

  .ListItemSmallIcon {
    position: absolute;
    top: 16px;
    right: 16px;

    path {
      fill: $neutral-90;
    }
  }

  .ListItemLeftIcon {
    display: inline-block;
    float: left;
    margin-right: 9px;
    margin-top: -1px;

    &.Fill path {
      fill: $neutral-800;
    }
  }

  .ListItemTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    padding-bottom: 5px;
    color: $neutral-800;
  }
  
  &:hover {
    color: $neutral-90;
    background: $neutral-20;
    text-decoration: none;

    .ListItemTitle {
      color: $neutral-800;
    }
  }

  &.Selectable {
    border-color: $generic-white;
    font-size: 14px;
    font-weight: normal;

    .ListItemTitle {
      font-size: 14px;
      font-weight: normal;
    }

    &:hover, &.Active {
      border-color: $blue-400;
      color: $blue-400;
      background: $generic-white;
      box-shadow: 0 1px 3px 0 $shadow;

      .ListItemTitle {
        color: $blue-400;
      }
    }
  }
}