@import '../../scss/colors';

.ListItem {
  color: $neutral-90;
  border-radius: 3px;
  display: block;
  padding: 16px;
  margin-bottom: 10px;
  border: solid 1px $neutral-40;
  background: $generic-white;
  position: relative;

  span {
    display: block;
  }

  .ListItemIcon {
    position: absolute;
    top: 16px;
    right: 16px;

    path {
      fill: $neutral-90;
    }
  }

  .ListItemTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    padding-bottom: 5px;
    color: $neutral-800;
  }
  
  &:hover {
    color: $neutral-90;
    background: $neutral-20;
    text-decoration: none;

    .ListItemTitle {
      color: $neutral-800;
    }
  }
}