@import '../../scss/colors';




.AdminListItem {
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-top: 0;

  & > div {
    border-right: solid 1px $neutral-40;
    &:last-child {
      border-right: none;
    }
  }

  &.AdminListItemHeader {
    background: $neutral-30;
    border-top: solid 1px $neutral-40;
    color: $neutral-800;
    font-weight: 600;
    min-height: 40px;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .AdminListItemTitle div, .AdminListItemContent div, .AdminListItemTitle a, .AdminListItemType a, .AttributeCheckmark a {
    display: block;
    padding: 12px 0;
  }

  .AttributeCheckmark {
    text-align: center;
  }

  .AdminListItemTitle div, .AdminListItemTitle a, .AdminListItemType a {
    font-weight: 600;
    font-size: 16px;
    color: $neutral-800;

    &:hover {
      text-decoration: none;
    }

    &:not([href]):hover {
      color: $neutral-800;
    }
  }
  .AdminListItemButtons {
    text-align: right;

    .btn {
      font-weight: 700;
      color: $neutral-700;
      padding: 12px 6px;
      opacity: 0;

      .Icon {
        margin-right: 5px;
      }

      .Icon path {
        fill: $neutral-700;
      }

      &:hover {
        text-decoration: none;
        color: $neutral-300;

        .Icon path {
          fill: $neutral-300;
        }
      }
    }
  }

  &:hover {
    .AdminListItemButtons .btn {
      opacity: 1;
    }
  }
}