.Highlight {
  font-family: 'Fira Code', monospace;
  white-space: pre-wrap;
  font-size: 12px;
}

.Variable,
.Record {
  background: currentColor;
}

.Variable span,
.Record span {
  color: white;
}

.Variable,
.Record,
.Instance {
  padding: 0 4px;
}
