@import '../../scss/colors';

.Admin {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .Main {
    flex: 1;
    overflow: auto;

    .PageContainer {
      display: flex;
      height: 100%;
    }
  }

  @media (min-width: 480px) {
    .Main {
      margin-left: 4.8rem;

      .MainContainer.container {
        padding: 0;
      }
    }
  }

  .LeftNav {
    font-weight: 700;
    background: $pale-grey;

    .nav {
      margin: 0 16px;
      padding: 16px 0 8px;
    }

    hr {
      margin: 10px 0 14px 0;
    }

    a.nav-link {
      color: $neutral-500;
      border-radius: 3px;
      margin-bottom: 4px;
      text-decoration: none;
      border: 1px solid transparent;

      &.disabled {
        color: $neutral-60;
      }

      &.active {
        color: $azul;
        border-color: $azul;
      }

      &:hover {
        background: $neutral-30;
      }
    }
  }

  .Back .Icon {
    height: 14px;
    width: 14px;
  }

  .SubPage {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }

  .LeftNav {
    width: 208px;
    overflow: hidden;
    flex: 0 0 208px;
  }

  .Page {
    flex: 1;
    margin: 0 32px;
    display: flex;
    flex-flow: column;
    position: relative;

    .PageTitle {
      margin-bottom: 20px;
    }

    .PageBody {
      flex: 1;
      display: flex;
      flex-flow: column;
      margin-bottom: 1.6rem;
      overflow: auto;
    }
  }
}