@import '../../scss/const';
@import '../../scss/colors';

header {
    &.Desktop {
        .Spacing {
            height: $desktopHeaderHeight;
            background: $azul;
        }

        &.Embedded {
            .Spacing {
                height: 0;
            }
        }
    }

    &.Mobile {
        .Spacing {
            height: $mobileHeaderHeight;
            background: $azul;
        }

        &.Embedded {
            .Spacing {
                height: 0;
            }
        }
    }
}

.Header {
    color: white;

    .HeaderUserCol {
        text-align: right;

        .DropdownMenu {
            margin-top: 5px;
        }
    }

    .MainHeader {
        padding-top: $desktopHeaderPadding;
        padding-bottom: $desktopHeaderPadding;
        background: $azul;
        position: fixed;
        width: 100%;
        z-index: 100;
        height: $desktopHeaderHeight;
        top: 0;
        transition: all 0.3s ease;

        &.Small {
            padding-top: $desktopHeaderPaddingSmall;
            padding-bottom: $desktopHeaderPaddingSmall;
            height: $desktopHeaderHeightSmall;
        }
    }

    .MobileHeader {
        background: $azul;
        height: $mobileHeaderHeight;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        padding-top: $mobileHeaderPadding;
        padding-bottom: $mobileHeaderPadding;

        .HeaderLogoCol {
            text-align: center;
        }

        .Logo {
            margin: 4px 0;
        }
    }

    .Logo {
        width: $logoWidth;
        height: $logoHeight;

        path {
            fill: $generic-white;
        }
    }
}

.InformationHeader {
    overflow: auto;
    margin: 0;

    .Title {
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $neutral-800;
        margin: 0;
    }

    .InformationBadge {
        border-radius: 5px;
        background-color: $blue-50;
        padding: 4px 9px;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        color: $cobalt;
        margin: 0 0 0 10px;
        display: inline-block;
        font-weight: normal;
    }
}

//.TopLevelContainer {
//
//
//    .InformationRow {
//        margin: 0;
//
//        .Children {
//            padding-top: 40px;
//            padding-bottom: 25px;
//
//            .InformationCol {
//                .InformationDescription {
//                    font-size: 16px;
//                    line-height: 1.5;badge
//                    color: $neutral-300;
//                    margin-bottom: 35px;
//                    padding-bottom: 20px;
//                    border-bottom: 1px solid $neutral-30;
//                }
//
//                h2 {
//                    font-size: 16px;
//                    line-height: 24px;
//                    font-weight: 600;
//                    margin-bottom: 5px;
//                    color: $neutral-800;
//                }
//
//                .Description {
//                    margin-bottom: 15px;
//                    color: $neutral-90;
//                }
//            }
//
//            .Loading {
//                opacity: 0.5;
//            }
//
//            .NoResults {
//                text-align: center;
//                padding: 50px 0;
//                color: $neutral-80;
//                font-size: 16px;
//            }
//        }
//    }
//
//    .Footer {
//        .container {
//            border-top: 1px solid $neutral-30;
//            padding-top: 40px;
//        }
//    }
//
//    .InformationBadge {
//        border-radius: 5px;
//        margin: 0 0 0 10px;
//        border: 2px solid #ffffff;
//        color: white;
//        padding: 5px 10px;
//        font-family: 'Rubik', sans-serif;
//        font-size: 14px;
//        font-weight: normal;
//        display: inline-block;
//    }
//}