@import '../../scss/colors';

.AssociatedItemsBar {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid $neutral-30;

  .AssociatedItemsBarItem {
    padding: 1rem;
    text-decoration: none;
    border-width: 0 0 2px 0;
    border-color: transparent;
    text-align: left;
    background: none;
    font-weight: 700;
    color: $neutral-500;
    cursor: pointer;

    span {
      margin-left: 0.5rem;
      padding: .2rem .8rem;
      color: white;
      border-radius: 3px;
      font-size: 12px;
      background: $neutral-500;
    }

    &.active {
      color: $primary-main;
      border-bottom: 2px solid $primary-main;

      span {
        background: $primary-main;
      }
    }

    &:disabled {
      opacity: .3;
      cursor: not-allowed;
    }
  }
}