.DataModelMappingModal {
  width: 90vw;
  max-width: 900px;

  main {
    display: flex;
    flex-direction: column;

    .RDFStudyStructure {
      flex: 1;
      overflow: auto;

      & > div {
        /* Matter Tabs */
        height: 100%;
        display: flex;
        flex-direction: column;

        & > div[role=tabpanel] {
          flex: 1;
          overflow: auto;
        }
      }
    }
  }
}