.Dashboard {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;

  .Main {
    display: flex;
    overflow: hidden;
    height: 100%;

    .Back {
      padding: 0 1.6rem;
    }
  }

  .DashboardBody {
    flex: 1;
    overflow: auto;
    padding-bottom: 3.2rem;
  }
}