@import '../../scss/colors';

.DependencyModal {
    max-width: none;
}

.DependencyEditor {
    width: 70rem;

    & > .DependencyGroup:nth-child(2) {
        margin: 0;
    }

    .RuleGroup {
        padding: 10px;
        border: 1px solid $neutral-40;
        border-radius: 3px;
        margin: 10px;
    }

    .queryBuilder > .RuleGroup:first-child {
        margin: 0;
    }

    .ValueEditor {
        width: 20rem;
    }

    .RuleGroupCombinator {
        margin-bottom: 8px;
    }
}
