@import '../../scss/const';
@import '../../scss/colors';

$filtersPadding: 30px;

.Embedded {
  .Filters .Sticky {
    padding-top: $filtersPadding;
  }
}

.SideCol {
  h1 {
    margin-top: 0;
  }

  &.Hidden {
    display: none;
  }

  .FilterForm {
    transition: all 0.3s ease;
  }

  .Sticky {
    padding-top: $desktopHeaderHeightSmall + $filtersPadding;
  }

  .FilterBlock {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.Overlay {
    position: fixed!important;
    top: 0;
    right: 0;
    z-index: 1002;
    background: $generic-white;
    padding: 15px!important;
    width: 100%;
    height: 100%;

    & > div > div:first-child {
      display: none!important;
    }

    & > div {
      height: 100%;
    }

    .StickySideCol {
      display: flex;
      flex-direction: column;
      height: 100%;

      .SideColItem {
        flex: 1;
        overflow: auto;
      }
    }
  }

  &::before {
    display: none!important;
  }

  .OverlayHeader {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $neutral-30;

    h1 {
      margin: 0;
      padding: 3px;
    }

    .CloseButton {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0,0,0,0);
      border: none;
      color: $neutral-800;

      &:hover {
        background-color: $pale-grey!important;
        color: $azul!important;
      }
    }
  }
}