@import '../../scss/const';
@import '../../scss/colors';

.Filters {
  .FilterForm {
    padding-top: 30px;
  }

  .FilterBlock {
    margin-bottom: 40px;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.33;
    color: $neutral-800;
    margin-bottom: 16px;
  }

  &.StickyDisabled {
    & > div > div:first-child {
      display: none;
    }

    .Sticky {
      position: inherit!important;
      width: 100%!important;
    }

    .FormItem {
      margin: 0;
    }
  }

  &.Overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background: $generic-white;
    padding: 15px;
    box-shadow: 0 1px 3px 0 $shadow;
    border: solid 1px $neutral-40;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .Filters {
    display: none;
  }
}